appnope
argcomplete
backcall
beautifulsoup4
blinker
Click
decorator
docutils
feedgenerator
ipython
ipython-genutils
jedi
Jinja2
Markdown
MarkupSafe
parso
pelican
pelican-seo
pexpect
pickleshare
pipx
prompt-toolkit
ptyprocess
Pygments
python-dateutil
pytz
six
smartypants
soupsieve
traitlets
typogrify
Unidecode
userpath
wcwidth
