<footer class="site-footer">
  <div class="wrap">
    <p class="footer-title">Comments? Questions? Get in touch!</p>
    <ul class="contact-list">
      <li><strong>Fediverse:</strong> <a href="https://oldbytes.space/@feoh" rel="me">@feoh@oldbytes.space</a></li>
      <li><strong>Twitter:</strong> <a href="https://twitter.com/feoh">feoh</a></li>
      <li><strong>Bluesky:</strong> <a href="https://bsky.app/profile/feoh.org">@feoh.org</a></li>
      <li><strong>E-mail:</strong> <span aria-label="feoh at feoh dot org">feoh [at] feoh [dot] org</span></li>
    </ul>
  </div>
</footer>
